<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>spotify-github-profile</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <style>
    .green-spotify {
      background-color: #1db954 !important;
    }

    @media only screen and (max-width: 992px) {
      nav .brand-logo {
        width: 100%;
        text-align: center;
      }
    }

    .page-footer {
      padding-top: 0;
    }

    .page-footer .footer-copyright {
      padding: 20px 0 16px;
    }

    .footer-content {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .footer-content > i {
      margin: 0 5px;
    }

    {# sticky footer #}
    body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    }

    .section.no-pad-bot {
      flex: 1 0 auto;
    }
  </style>

</head>

<body class="">
  <nav class="green-spotify" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">spotify-github-profile</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="https://github.com/kittinan/spotify-github-profile" target="_BLANK">Github</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="https://github.com/kittinan/spotify-github-profile" target="_BLANK">Github</a></li>
      </ul>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <div class="row center">
        <h2 class="header center orange-text">Markdown code</h2>
      </div>

      <div class="row center">
        <div class="col s12 m3">
          <label class="row">
            <input type="checkbox" class="filled-in" checked="checked" id="cover-image-checkbox" />
            <span>Cover Image</span>
          </label>
        </div>
        <div class="col s12 m3">
          <label class="row">
            <input type="checkbox" class="filled-in" id="open-song-checkbox" />
            <span>Open in Spotify</span>
          </label>
        </div>
        <div class="col s12 m3">
          <label class="row">
            <input type="checkbox" class="filled-in" id="org-mode-checkbox" />
            <span>Org-Mode Snippet</span>
          </label>
        </div>
        <div class="col s12 m3">
          <label class="row">
            <input type="checkbox" class="filled-in" id="show-offline-checkbox" />
            <span>Show Offline</span>
          </label>
        </div>
        
        <div class="col s12 m3">
            <label  class="row">
              <input type="checkbox" class="filled-in" id="interchange" />
              <span>Interchange Artist with Song name</span>
            </label>
          </div>
      </div>

      <div class="row center">
        <div class="input-field col s12 m8 offset-m2">
          <select id="theme-select">
            <option value="default" selected>default</option>
            <option value="compact">compact</option>
            <option value="natemoo-re">natemoo-re</option>
            <option value="novatorem">novatorem</option>
            <option value="karaoke">karaoke</option>
            <option value="apple-music">apple-music</option>
          </select>
          <label>Choose theme</label>
        </div>
        <div class="row bar-color">
          <div class="col s12 m4">
            <label  class="row">
              <span>Bar Color</span>
              <input type="color" id="bar_color" name="bar_color" value="#53b14f">
            </label>
          </div>
          <div class="col s12 m4">
            <label  class="row">
              <span>Background Color</span>
              <input type="color" id="background_color" name="background_color" value="#121212">
            </label>
          </div>
          <div class="col s12 m4">
            <label  class="row">
              <input type="checkbox" class="filled-in" id="bar_color_cover" />
              <span>Automatic bar color</span>
            </label>
          </div>
          
          
        </div>
      </div>

      <div class="row center">
        <div class="col s0 m1"></div>
        <div class="col s12 m10">
          <textarea id="markdown-code"
            style="width: 100%;height: 100px; padding: 10px;"></textarea>
        </div>
        <div class="col s0 m1"></div>
      </div>

      <div class="row center">
        <div style="margin-top: 20px; margin-bottom: 20px;">
          <button class="waves-effect waves-light btn green darken-3" data-clipboard-target="#markdown-code">
            <i class="material-icons left">content_copy</i> Copy to clipboard
          </button>
        </div>
      </div>

      <div class="row center">
        <img id="example-view" />
      </div>
      <br><br>

    </div>
  </div>

  <footer class="page-footer green-spotify">
    <div class="footer-copyright">
      <div class="container center footer-content">
        <span>Made with</span>
        <i class="material-icons red-text">favorite</i></i>
        <span>
          by
          <a class="grey-text text-darken-4"
            href="https://github.com/kittinan/spotify-github-profile"
            target="_BLANK">
            spotify-github-profile
          </a>
        <span>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.6/dist/clipboard.min.js"></script>

  <script>
    var uid = "{{uid}}";
    var markdownCodeTextArea = $('#markdown-code');
    var exampleView = $("#example-view");
    var urlParams = {
      uid: uid,
      cover_image: true,
      theme: 'default',
      show_offline: false,
      background_color: "121212",
      interchange:false
    };
    var openSong = false;
    var orgMode = false;

    function updateUrl() {
      var viewUrl = `{{BASE_URL}}/view${orgMode ? '.svg': ''}?`;
      var viewUrlWithParams = viewUrl + $.param(urlParams, true);
      var url = "https://github.com/kittinan/spotify-github-profile";
      if (openSong) {
        url = viewUrl + $.param({uid: uid, redirect: true}, true);;
      }

      exampleView.attr('src', viewUrlWithParams);
      markdownCodeTextArea.text(orgMode ? `[[${url}][${viewUrlWithParams})]]`: `[![spotify-github-profile](${viewUrlWithParams})](${url})`);
    }

    updateUrl();

    $("#cover-image-checkbox").change(function() {
      urlParams.cover_image = this.checked;
      updateUrl();
    });
    $("#interchange").change(function() {
      urlParams.interchange = this.checked;
      updateUrl();
    });

    $("#open-song-checkbox").change(function() {
      openSong = this.checked;
      updateUrl();
    });

    $("#org-mode-checkbox").change(function() {
      orgMode = this.checked;
      updateUrl();
    });

    $("#show-offline-checkbox").change(function() {
      urlParams.show_offline = this.checked;
      updateUrl();
    });

    $('#theme-select').change(function() {
      $('.bar-color').show();
      $('#bar_color').trigger('change');
      $('#bar_color_cover').trigger('change');
      if (['compact', 'karaoke'].includes(this.value)) {
        $('.bar-color').hide();
        delete urlParams.bar_color_cover
        delete urlParams.bar_color
      }
      urlParams.theme = this.value;
      updateUrl();
    });

    $('#bar_color').change(function() {
      urlParams.bar_color = this.value.substring(1);
      updateUrl();
    });

    $('#background_color').change(function() {
      urlParams.background_color = this.value.substring(1);
      updateUrl();
    });

    $('#bar_color_cover').change(function() {
      urlParams.bar_color_cover = this.checked;
      updateUrl();
    });

    $(document).ready(function(){
      $('#theme-select').formSelect();
    });
  </script>

  <script>
    var clipboard = new ClipboardJS('.btn');
    clipboard.on('success', function (e) {
      M.toast({
        html: 'Copied!'
      })

      e.clearSelection();
    });
  </script>

</body>

</html>
